    /* thẻ select */
select {
    box-shadow: none;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    background-image: none;
    flex: 1;
    cursor: pointer;
    padding: 0 12px 0 16px;
}

    /* thẻ div chứa thẻ select */
.select {
    position: relative;
    display: flex;
    width: 200px;
    height: 40px;
    line-height: 38px;
    background-color: #fff;
    font-family: GoogleSans-Regular;
}

.row-select {
    background-color: #EBF9F4;
}
